body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.bg{
  background-color: #1f1f1f;
}

.bg-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vmin;   /* skaliert proportional */
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}


.dark-card{
  border-radius: 5px;
  background-color: rgba(43, 43, 64, 0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.w-txt {
  color: #ffffff;
}

.dinput{
  color: rgba(31, 31, 31, 0.1);
}

.color-circles {
  height: 100%;
  width: 100%;
  --transparency: 40%;
  background:
    radial-gradient(circle at 0 0, rgba(6, 80, 241, 0.8), transparent var(--transparency)),
    radial-gradient(circle at 100% 0, rgba(186, 6, 241, 0.8), transparent var(--transparency)),
    radial-gradient(circle at 0 100%, rgba(255, 174, 0, 0.8), transparent var(--transparency)),
    radial-gradient(circle at 100% 100%, rgba(239, 3, 38, 0.8), transparent var(--transparency));

  opacity: 0.2;
  /* Startwert */
  animation: fadeIn 1.5s forwards;
}

.fade-in{
  opacity: 0.2;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}